@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	background: #121212;
}
section {
	height: 100vh;
	scroll-snap-align: center;
}
a {
	text-decoration: none;
	color: inherit;
}

.skills {
	padding: 110px 85px 0;
}

.skills h3,
.about .right h3,
.portfolio .header h3 {
	font-size: 40px;
	margin-top: 20px;
}

.skills .skill-items {
	display: flex;
	margin-top: 70px;
	gap: 30px;
}

.skills .skill-items .item {
	background-color: #121212;
	width: 25%;
	border-radius: 10px;
	padding: 32px;
	border-bottom: 4px solid transparent;
	cursor: pointer;
	transition: all 0.3s ease;
}

.skills .skill-items .item:hover {
	border-color: #5e3bee;
}

.skills .skill-items .item .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	font-weight: 700;
	width: 46px;
	height: 46px;
	border-radius: 10px;
	margin-bottom: 22px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.skills .skill-items .item h4,
.portfolio .portfo-items .item .info h4 {
	font-size: 18px;
}

.skills .skill-items .item p {
	margin-top: 20px;
	font-size: 14px;
	line-height: 22px;
	color: #8e8e8e;
}

.about {
	padding: 110px;
	display: flex;
	align-items: center;
	gap: 60px;
}

.about .left {
	background-color: #121212;
	border-radius: 10px 10px 0 0;
}

.about .left img {
	width: 440px;
}

.about .right p {
	font-size: 16px;
	margin-top: 30px;
}

.portfolio {
	background-color: transparent;
	padding: 110px 85px;
}

.portfolio .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 60px;
}

.portfolio .header button {
	background-color: #ff0000;
	padding: 10px 20px;
	color: #fff;
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 8px;
	border: none;
	border-radius: 10px;
}

.portfolio .header button i {
	font-size: 26px;
}

.portfolio .portfo-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.portfolio .portfo-items .item {
	width: 30%;
	background-color: #000;
	border-radius: 10px;
	border-bottom: 4px solid transparent;
	cursor: pointer;
	box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
	transition: all 0.3s ease;
}

.portfolio .portfo-items .item:hover {
	border-color: #5e3bee;
}

.portfolio .portfo-items .item img {
	width: 100%;
	height: 240px;
	object-fit: cover;
	object-position: top;
	border-radius: 10px 10px 20px 20px;
}

.portfolio .portfo-items .item .info {
	display: flex;
	flex-direction: column;
	gap: 14px;
	padding: 20px 32px 42px;
}

.portfolio .portfo-items .item .info p {
	font-size: 13px;
}

.portfolio .portfo-items .item .info a {
	text-decoration: underline;
	text-underline-offset: 10px;
	text-decoration-color: #5e3bee;
}

.portfolio .portfo-items .item .info a i {
	margin-left: 2px;
	font-size: 16px;
}

@media screen and (max-width: 1200px) {
	.main .left h5 {
		font-size: 18px;
	}

	.main .left h3 {
		font-size: 36px;
	}

	.main .left p {
		font-size: 18px;
	}

	.main .right img {
		width: 380px;
	}

	.skills .skill-items {
		gap: 10px;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.skills .skill-items .item {
		width: 49%;
	}

	.about .left img {
		width: 370px;
	}

	.skills h3,
	.about .right h3,
	.portfolio .header h3 {
		font-size: 32px;
	}

	.about .right p {
		font-size: 15px;
	}
}

@media screen and (max-width: 992px) {
	.about {
		flex-direction: column;
		justify-content: center;
	}

	.portfolio .portfo-items {
		gap: 22px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.portfolio .portfo-items .item {
		width: 48%;
	}
}

@media screen and (max-width: 768px) {
	.skills {
		padding: 85px 42px 0;
	}

	.skills .skill-items {
		gap: 8px;
	}

	.about {
		padding: 85px 42px;
	}

	.portfolio {
		padding: 60px 42px;
	}

	.portfolio .portfo-items {
		gap: 18px;
	}
}

@media screen and (max-width: 576px) {
	.skills .skill-items .item {
		width: 100%;
	}

	.portfolio .header button {
		font-size: 12px;
		padding: 8px 14px;
	}

	.portfolio .portfo-items .item {
		width: 80%;
	}
}
